/*--Let's start by styling all semantic elements---*/

.search {
    border: 2px #ffffff solid;
    margin: 70px;
}

html {
    height: 100%;
}

header {
    padding: 20px;
}

.search {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
    padding: 20px;
    margin: 25px;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-weight: bolder;
    padding-bottom: 0px;
}

.container-search {
    color: #ffffff;
    font-weight: bolder;
}


/*--Defining a class to style a particular bloc element--*/

.grayBackground {
    background-color: #F0F2F1;
}

.blueBackground {
    background-color: #1F85DE;
}

.pinkBackground {
    background-color: #ecc7e3;
}

.orangeBackground {
    background-color: #DE781F;
}

p.purpleBackground {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}


/****************.container-search*******************/

legend {
    padding: 0px;
    margin: 0px;
    color: #f0760b;
    font-weight: bolder;
    font-size: -webkit-xxx-large;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.input-field .search-button .tracker {
    padding: 10px;
    width: 350px;
}

@media only screen and (min-width: 450px) {
    .search .input-field {
        width: 300px;
    }
}

@media (min-width: 640px) {
    .search {
        padding-right: 100px;
    }
}


/* To create the effect on the button keeping the button unchanged after you hover over use .btn:hover */

.btn-search:hover,
.btn-search:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #f7d7b5;
    text-decoration: none;
}

.btn-search {
    margin: 15px 0px;
    padding: 10px;
    color: rgba(255, 60, 0, 0.886);
    font-weight: bold;
}

.logo a {
    background-color: transparent;
    font-size: 15px;
    text-decoration: none;
    padding: 5px;
    margin: justify;
    color: #ffff;
}


/* ---- Text deco gets rid of the underlines ---- */

fieldset {
    padding: 0px;
}

.input-field first {
    padding-top: 5px;
}


/* ----- logo ------ */

.logo {
    height: 60px;
    width: auto;
    float: left;
    padding-right: 10px;
}


/* ----- Background Image ------ */

.main {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/bg4.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.502), rgba(0, 0, 0, 0.2)), url("../img/bg4.jpg");
    /* near-gradient is used to put text on image and make the image darker */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

.giphyBox {
    display: flex;
    align-items: center;
    background-color: #D3BCCC;
    margin: 5px;
    padding: 10px;
}

.giphyBox>img {
    border-radius: 20%;
}

.js-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* ---- Anchor footer ----- */

.text-color a:hover {
    color: rgb(255, 183, 0);
    text-decoration: none;
}

.text-color {
    color: #ffffff;
    padding: auto;
}


/* ----- Footer text ------- */

span,
nav a {
    display: flex;
    color: #ffffff;
    text-align: center;
    margin: 5px;
}